.container {
  position: fixed;
  width: 100%;
  margin: 0 auto;

  background: url(../assets/icons/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

  z-index: 1;
}

/* -----HEADER----- */

.header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
  margin: 60px auto;
}

.header__burger-menu {
  display: none;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo:hover {
  cursor: pointer;
}

.logo__item_title {
  margin: 0;
  margin-bottom: 10px;

  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;

  color: #f1cdb3;
}

.logo__item_description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14.95px;
  letter-spacing: 0.1em;
  text-align: center;

  color: #ffffff;
}

.burger-btn {
  display: none;
}

.header__navigation {
  margin: 0;
  padding: 0;
}

.header__navigation_list {
  display: flex;
  align-items: center;
  height: 60px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__navigation_item {
  margin: 16px 0 18px;
  max-width: 96px;
}

.header__navigation_item:not(:last-child) {
  margin-right: 36px;
}

.header__navigation_item_link {
  padding-bottom: 3px;
  text-decoration: none;
  color: #cdcdcd;
}

.header__navigation_item_link:hover {
  color: #fafafa;

  cursor: pointer;
}

.header__navigation_item_link:active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;

  transition: 0.3s;
}

/* -----ABOUT----- */

.about {
  width: 1280px;
  margin: 180px auto 0;
  padding-top: 64px;
  scroll-margin-top: 180px;
}

.about__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
  padding-top: 14px;
}

.about__title {
  margin: 0;

  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  text-align: center;
}

.about__description {
  margin: 0;
  text-indent: 32px;
}

.about__description_list {
  padding: 0;
}

.about__description_list li {
  margin-top: 10px;
}

/* -----VENDORS----- */

.vendors {
  width: 1280px;
  margin: 0 auto 100px;
  padding-top: 80px;
  scroll-margin-top: 180px;
}

.vendors__title {
  margin: 0 auto;
  margin-bottom: 60px;

  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.06em;

  color: #545454;
}

.vendors__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 120px;
  row-gap: 55px;
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
}

.vendors__item {
  display: block;
  box-sizing: border-box;
  width: 120px;
  height: 113px;
  padding-top: 90px;
  min-width: 60px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.vendors__item_image {
  width: 120px;
}

/* -----SERTIFICATES----- */

.sertificates {
  width: 100%;
  margin: 0 auto 100px;
  padding-top: 80px;
  scroll-margin-top: 180px;
}

.sertificates__title {
  margin: 0;
  margin-bottom: 64px;

  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  text-align: center;
}

.sertificates__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
}

.sertificates__item {
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 700px;
  min-width: 270px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* -----VACANCIES----- */

.vacancies__container {
  width: 100%;
  scroll-margin-top: 180px;
}

.vacancies {
  width: 1280px;
  margin: 0 auto;
}

.vacancies__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 380px;
  padding-top: 80px;
  padding-left: 716px;
  padding-bottom: 100px;

  background-image: url(../assets/images/manager.png);
  background-repeat: no-repeat;
  background-position: 183px 40px;
  background-size: contain;
}

.vacancies__title {
  margin: 0;

  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;

  color: #545454;
}

.vacancies__bank {
  display: block;

  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.06em;

  color: #545454;
}

.vacancies__bank_link {
  box-sizing: border-box;
  width: 349px;
  height: 43px;
  padding: 10px 14px 10px 60px;

  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-decoration: none;

  background-color: #f1cdb3;
  color: #545454;
  border-radius: 9px;
}

.vacancies__bank_link:hover {
  background-color: #fddcc4;

  cursor: pointer;
}

.vacancies__info {
  margin: 0;

  font-family: "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #b2b2b2;
}

/* -----FOOTER----- */

.footer__container {
  width: 100%;
  scroll-margin-top: 180px;

  background: url(../assets/icons/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}

.footer {
  width: 1280px;
  height: 350px;
  margin: 0 auto;
}

.footer__list {
  display: flex;
  width: 1200px;
  list-style-type: none;
  margin: 0;
  padding: 40px 40px 0;
}

.footer__item:not(:last-child) {
  display: flex;
  flex-direction: column;
  margin-right: 158px;
  padding-top: 17px;
}

.footer__item_contacts {
  width: 280px;
}

.footer__item_locations {
  width: 302px;
}

.footer__item_image {
  width: 300px;
  height: 310px;
  background-image: url(../assets/images/contract.png);
  background-repeat: no-repeat;
}

.footer__title {
  margin: 0;

  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.footer__data {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-decoration: none;

  color: #f1cdb3;
}

.footer__data_mail {
  padding: 40px 0;
  padding-left: 60px;

  background-image: url(../assets/icons/icon-email.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.footer__data_tel {
  padding-left: 60px;

  background-image: url(../assets/icons/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.footer__data_location {
  padding: 33px 0;
  padding-left: 42px;
  line-height: 23px;

  text-align: left;

  background-image: url(../assets/icons/pin.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
}

@media (max-width: 1279px) {
  .header {
    width: calc(100vw - 60px);
    padding: 0;
    margin: 30px;
  }

  /* --------------- */

  .about {
    width: 768px;
    padding-top: 42px;
    scroll-margin-top: 120px;
  }

  .about__container {
    padding: 0;
  }

  /* --------------- */

  .vendors {
    width: 100%;
    scroll-margin-top: 120px;
  }

  .vendors__list {
    column-gap: 10%;
    row-gap: 30px;
  }

  /* --------------- */

  .vacancies__container {
    scroll-margin-top: 120px;
  }

  .vacancies {
    width: 768px;
    height: 100%;
  }

  .vacancies__wrapper {
    justify-content: flex-start;
    width: 505px;
    padding: 80px 0 480px;
    margin: 0 auto;

    background-position: center 360px;
  }

  .vacancies__title {
    width: 380px;
    margin: 0 auto;
  }

  .vacancies__bank {
    margin-left: 62.5px;
  }

  .vacancies__bank_link {
    margin-left: 62.5px;
  }

  .vacancies__info {
    width: 380px;
    margin: 0 auto;
  }

  /* --------------- */

  .footer__container {
    scroll-margin-top: 120px;
  }

  .footer {
    width: 768px;
    height: 639px;
  }

  .footer__list {
    width: 708px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 65px;
    margin: 0 auto;
    padding: 0;
    padding-top: 30px;
  }

  .footer__list .footer__item {
    padding-top: 0;
    margin: 0;
  }

  .footer__item:first-child {
    margin-right: 60px;
  }

  .footer__item_contacts {
    width: 279px;
    margin-bottom: 65px;
  }

  .footer__item_locations {
    width: 302px;
    margin-bottom: 65px;
  }

  .footer__data_mail {
    padding-left: 60px;
  }

  .footer__data_tel {
    padding-left: 60px;
  }

  .footer__data_location {
    padding-left: 42px;
  }
}

@media (max-width: 767px) {
  .header {
    position: relative;
    justify-content: flex-start;
    width: 93.75%;
    margin: 0;
    padding: 30px 3.125%;
  }

  .logo {
    position: relative;
    left: 0px;

    transition: 600ms ease 0s;
    z-index: 2;
  }

  .logo__item_title {
    font-size: 28px;
  }

  .logo_active {
    position: absolute;
    left: calc(100% - 310px);
  }

  .burger-btn {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    padding: 0;
    margin: auto;
    margin-right: 0;

    background-color: transparent;
    background-image: url(../assets/icons/index-burger.png);
    background-repeat: no-repeat;
    border: none;

    transition: 600ms ease 0s;
    z-index: 2;
    cursor: pointer;
  }

  .burger-btn_active {
    transform: rotate(90deg);
    outline: none;
  }

  .header__navigation {
    position: fixed;
    width: 320px;
    height: 100%;
    top: 0;
    right: -320px;

    background-color: #292929;
    transition: right 600ms ease 0s;
    z-index: 1;
  }

  .header__navigation_active {
    right: 0;
  }

  .header__navigation_list {
    width: 243px;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: initial;
  }

  .header__navigation_item {
    margin: 0;
  }

  .header__navigation_item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .header__navigation_item_link {
    padding-bottom: 7px;

    font-size: 32px;
    line-height: 120%;
  }

  /* --------------- */

  .about {
    width: 320px;
    padding-top: 32px;
  }

  .about__title {
    text-align: center;
    font-size: 25px;
    line-height: 32px;
  }

  /* --------------- */

  .vendors {
    padding: 42px 0;
    margin: 0 auto;
  }

  .vendors__title {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 42px;
  }

  /* --------------- */

  .sertificates__list {
    gap: 20px;
  }

  .sertificates__item {
    height: 500px;
  }

  /* --------------- */

  .vacancies {
    width: 320px;
  }

  .vacancies__wrapper {
    justify-content: flex-start;
    gap: 10px;
    width: 300px;
    height: 500px;
    padding: 42px 0 30px;
    margin: 0 auto;

    background-position: center 260px;
    background-size: contain;
  }

  .vacancies__title {
    width: 300px;

    text-align: center;
    font-size: 25px;
    line-height: 32px;
  }

  .vacancies__bank {
    margin: 0;

    text-align: center;
    line-height: 24px;
    letter-spacing: normal;
  }

  .vacancies__bank_link {
    width: 281px;
    height: 43px;
    padding: 14px 14px 9px 60px;
    margin: 0 auto;

    font-size: 15px;
    line-height: 17px;
  }

  .vacancies__info {
    width: 280px;
    margin: 0 auto;

    text-align: justify;
  }

  /* --------------- */

  .footer {
    width: 320px;
    height: 809px;
    margin: 0 auto;
  }

  .footer__list {
    width: 300px;
    row-gap: 40px;
    column-gap: 0;
  }

  .footer__list .footer__item {
    margin: 0;
  }

  .footer__item_image {
    width: 260px;
    height: 269px;
    background-size: contain;
  }

  .footer__title {
    width: 240px;
    margin: 0 auto;

    text-align: center;
    font-size: 25px;
    line-height: 32px;
  }

  .footer__data_mail {
    width: 192px;
    margin: 0 auto;
  }

  .footer__data_tel {
    width: 180px;
    margin: 0 auto;
  }

  .footer__data_location {
    padding: 40px 0;
    padding-left: 42px;
  }
}
